@import '~font-awesome/css/font-awesome.css';


.background{
  background-image: url(/assets/images/authbg.jpg);
  width: 100%;
  height: 100vh;
  align-items: center;
  font-family:  'Heebo', sans-serif!important;
}


.desSection{

  background-size: cover;
  position: relative;
  background: url('/assets/images/d5-render-fWH71R_-9QM-unsplash.jpg')
}
.desSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{

 font-style: normal;
 font-weight: 600!important;
 font-size: 18px;
 
 color: #FEA116;
 width: 100px;
 border-bottom: 3px solid #FEA116;

 }

 .loginForm{
  height: 50px;
  width: 100%;
  box-shadow: none;
  border-radius: 8px;
  border: 0.25px solid #FEA116;
 
  outline: none;

 }
 .loginbutton{
height: 50px;
width: 80%;
box-shadow: none;
border-radius: 15px;
background-color: #212529;
color: #fff;
font-size: 20px;


 }
 
 
 .centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100vh; 
}

.logLabel{
  color :#ccc ;
  font-size: 15px;
}
.loginHeadings{
  color: #Fff;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}

.password-wrapper {
  position: relative;
}
a{
  color: #FEA116;
  text-decoration: none;
}
.remember{
  color: #FEA116;
  text-decoration: none;
}
.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  cursor: pointer;
}
