.cart {
    font-size: 35px;
    font-weight: 800;
    color: black;
    font-family: 'Nunito Sans', sans-serif!important;
  }

  .breadcrumb-item a{
    text-decoration: none;
    color: #ffc222;
    font-family: 'Nunito Sans', sans-serif!important;
}

.proceed{
    padding: 13px;
    color: black;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif!important;
}
hr{
    border: 1px solid #ccc;
    background: none;
    height: 0px;
}
.back{
    color: #000;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif!important;
}
.CartItemText{
    font-family: 'Nunito Sans', sans-serif!important;
    font-weight: 700;
}
.CartItemPrice{
    font-family: 'Nunito Sans', sans-serif!important;
    font-weight: 700;
}


.quantity-selector input {
    border: none; /* Remove the border */
    padding: 0; /* Remove padding */
    width: 20px;
}


/* Hide the default number input arrows */
.quantity-selector input[type="number"]::-webkit-inner-spin-button,
.quantity-selector input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantity-selector input[type="number"] {
  -moz-appearance: textfield;
}

.quantity-selector {
    display: flex;
    align-items: center;
}

.quantity-button {
    background-color: #ffc222;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px; /* Add some space between buttons */
}

.quantity-input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    margin-right: 10px; /* Add some space between input and buttons */
}