<app-navbar></app-navbar>
<!-- BREADCRUMB -->
<app-basic-pages-breadcrumb currentPageLink="Our Menu"></app-basic-pages-breadcrumb>

<!-- BREADCRUMB END -->

<section class="py-5">
    <div class="container">
      <div class="row py-3">
        
        <!-- content -->
        <div class="col-lg-12">
          <header class="d-sm-flex align-items-center container mb-3 " >
            <!-- <h1 class="d-block found ">Showing 10 of {{products?.length}} Items </h1> -->
            <h1 class="d-block found " *ngIf="currentTab == 'list' && products?.length > 0">Showing {{ getListDisplayedItemsRange() }} of {{ totalItems }} Items </h1>
            <h1 class="d-block found " *ngIf="currentTab == 'grid' && products?.length > 0">Showing {{ geGridDisplayedItemsRange() }} of {{ totalItems }} Items </h1>
            
            <div class="ms-auto">
                <div class="d-flex btn-group searchInput">
                    <input type="text" class="form-control shadow p-2"
                    placeholder="Search Product by name, price, category..." [(ngModel)]="searchText"
                    (input)="applyFilter()"
                     />
                  <select  [(ngModel)]="currentTab" class="form-select d-inline-block w-auto border pt-1 me-4 form-control">
                    <option value="list">List View</option>
                    <option value="grid">Grid View</option>
    
                  </select>
                  <div class="btn-group shadow-0 mt-1 d-none d-lg-block">
                    <a (click)="currentTab = 'list'" [class.active]="currentTab === 'list'" [class.btn-primary]="currentTab === 'list'" [class.btn-secondary]="currentTab !== 'list'" class="btn me-2" title="List view">
                      <i class="fa fa-bars fa-lg"></i>
                    </a>
                    <a (click)="currentTab = 'grid'" [class.active]="currentTab === 'grid'" [class.btn-primary]="currentTab === 'grid'" [class.btn-secondary]="currentTab !== 'grid'" class="btn" title="Grid view">
                      <i class="fa fa-th fa-lg"></i>
                    </a>
                  </div>
                </div>
               
             
              
            </div>
          </header>
<div class="text-center">
    <div class="py-5" *ngIf="searchText !='' && !products?.length">
        <p >No product found for the search result "{{searchText}}"</p>
        <button (click)="resetSearch()" type="button" class="btn btn-secondary mt-2  border text-white">Reset Search Result</button>

    </div>

    <div *ngIf="searchText =='' && !products?.length" class="py-5">

        <p >No product found</p>
    </div>
</div>

          <div class="mb-3" [ngSwitch]="currentTab" *ngIf="products?.length > 0">

            <!-- LIST VIEW ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~##### -->
            <div *ngSwitchCase="'list'">


                
                <div class="row p-2 " >
                   
                    <div class="col-lg-4 col-md-6 mb-3 animate__animated animate__fadeInDown" *ngFor="let item of products | paginate: { itemsPerPage: listPageSize, currentPage: listCurrentPage }"> 
                        <div class="card shadow-0 border p-2" style="border-radius: 30px; height: max-content; align-items: center;">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-lg-4" >
                              <div class=" rounded ripple-surface me-md-3 mb-3 mb-md-0 mt-3" style="background-color: rgba(253, 253, 253, 0.15);">
                                <img [src]="item.thumbnail" class="w-100 img-fluid" [alt]="item.name" style="width: 100%;cursor: pointer; height: 100%; object-fit: cover; border-radius: 30px; background-color: #ffc0223a;" />
                                <a href="#!">
                                 
                                </a>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <h5 class="card-title TextHeading cursor-pointer productName" (click)="viewFood(item.id)">{{item.name}}</h5>
                              <div class="d-flex flex-row">
                                <div class="text-warning mb-1 me-2">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fas fa-star-half-alt"></i>
                                  <span class="ms-1">
                                    4.5
                                  </span>
                                </div>

                              </div>
          
                              <p class="text-muted  mb-1">
                                {{item.description | truncateDescription}}
                              </p>
                              <p class="mb-1">Category: <span class=" text-primary">{{item.category}}</span></p>
                              <div class="row menu-body">
                                <div class="col-lg-6">
                                <h4  class=" card-text price textHeading mb-2">{{item.price | currency: '₦' :'symbol':'1.0-0'}}</h4>

                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-primary shadow-sm text-black" type="button" *ngIf="!ifAddedToCart(item)" (click)="addToCart(item)">Add <i class="fa fa-shopping-cart" aria-hidden="true"></i> </button>
                                <button class="btn btn-primary shadow-sm text-black" (click)="cartRoute()" type="button" *ngIf="ifAddedToCart(item)">Added <i class="fa fa-shopping-cart" aria-hidden="true"></i> </button>
                                </div>
                              </div>
                            
                             
                             
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                   
                  
                    
                    <div class="col-md-4 animate__animated animate__fadeInDown">
                      <!-- <div class="card shadow-0 border" style="border-radius: 30px; height: max-content; align-items: center;">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-lg-3" >
                              <div class=" rounded ripple-surface me-md-3 mb-3 mb-md-0 mt-3" style="background-color: rgba(253, 253, 253, 0.15);">
                                <img [src]="item.thumbnail" class="w-100 img-fluid" [alt]="item.name" />
                                <a href="#!">
                                  <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                  </div>
                                </a>
                              </div>
                            </div>
                            <div class="col-lg-9">
                              <h5 class="card-title TextHeading cursor-pointer productName">{{item.name}}</h5>
                              <div class="d-flex flex-row">
                                <div class="text-warning mb-1 me-2">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fas fa-star-half-alt"></i>
                                  <span class="ms-1">
                                    4.5
                                  </span>
                                </div>

                              </div>
          
                              <p class="text-muted  mb-1">
                                {{item.description | truncateDescription}}
                              </p>
                              <p class="mb-1">Category: <span class=" text-primary">{{item.category}}</span></p>
                              <div class="row">
                                <div class="col-lg-6">
                                <h4  class=" card-text price textHeading mb-2">{{item.price | currency: '₦' :'symbol':'1.0-0'}}</h4>

                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-primary shadow-sm text-black" type="button" *ngIf="!ifAddedToCart(item)" (click)="addToCart(item)">Add To Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i> </button>
                                <button class="btn btn-primary shadow-sm text-black" (click)="cartRoute()" type="button" *ngIf="ifAddedToCart(item)">Added <i class="fa fa-shopping-cart" aria-hidden="true"></i> </button>
                                </div>
                              </div>
                            
                             
                             
                            </div>
                            
                          </div>
                        </div>
                      </div> -->
                    </div>

                   

                  </div>
                  <pagination-controls (click)="scrollTop()" class="text-center" 
                  (pageChange)="listCurrentPage = $event"
                  
                  
                  previousLabel=""
                  nextLabel=""
                  screenReaderPaginationLabel="Pagination"
                  screenReaderPageLabel="page"
                ></pagination-controls>
                 
            </div>
            <!-- END OF LIST }}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}]-->

            <!-- GRID VIEW ]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]-->
            <div *ngSwitchCase="'grid'">
                <div class="container py-3">
                    <div class="row">
                      <div class="col-md-6 col-lg-3 mb-3" *ngFor="let product of products | paginate: { itemsPerPage: gridPageSize, currentPage: gridCurrentPage }">
                        <div class="card shadow-sm animate__animated animate__fadeInDown" style="border-radius: 30px!important; border: 1px solid #e5e5e5;">                                         
                           <div class="p-1" style="width: 100%; ">
                            <img [src]="product.thumbnail" (click)="viewFood(product.id)" class="" style="width: 100%;cursor: pointer; height: 50%; object-fit: cover; border-radius: 30px; background-color: #ffc0223a;">
                          </div>
                  
                          <div class="card-body menu-body">
                              <p class="text-warning">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                            <h5 class="card-title TextHeading cursor-pointer productName" (click)="viewFood(product.id)">{{ product.name }}</h5>
                            <p class="text-muted">{{product.description | truncateDescription}}</p>
                  
                            <div class="cart px-2" style="display: flex; justify-content: space-between;">
                              <p  class="card-text price textHeading">{{ product.price | currency: '₦' :'symbol':'1.0-0' }}</p>
                              <p class="btn btn-primary shadow-sm text-black" (click)="cartRoute()" type="button" *ngIf="ifAddedToCart(product)">Added <i class="fa fa-shopping-cart" aria-hidden="true"></i> </p>
                              <p *ngIf="!ifAddedToCart(product)" class="btn btn-primary addToCartBtn text-black" (click)="addToCart(product)">Add To Basket</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <pagination-controls (click)="scrollTop()" class="text-center" 
                    (pageChange)="gridCurrentPage = $event"
                    
                    
                    previousLabel=""
                    nextLabel=""
                    screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page"
                  ></pagination-controls>
                
                  </div>
            </div>
            <!-- END OF GRID VIEW ]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]-->
            <div *ngSwitchDefault>
              <!-- Default content when no tab is selected -->
              <!-- <p>Select a tab to view its content.</p> -->
            </div>
          </div>



  
         
  
        
  
        </div>


        <!-- sidebar -->
        <!-- <div class="col-lg-3">
        
          <div class="card d-none d-lg-block mb-5">
            <ul class="list-group">
                <p  class="list-group-item list-group-item-action active" aria-current="true">
                    Categories
                  </p>
                <li *ngFor="let item of categories" class="list-group-item d-flex justify-content-between align-items-center">
                {{item}}
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
                
              </ul>
           





            <div class="accordion">

              
              <div class="accordion-item">
                <ul class="list-group">
                    <p  class="list-group-item list-group-item-action active" aria-current="true">
                        Price
                      </p>
                    
                  </ul>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                  <div class="accordion-body">
                    <div class="range">
                      <input type="range" class="form-range" id="customRange1" />
                    </div>
                    <div class="row mb-3">
                      <div class="col-6">
                        <p class="mb-0">
                          Min
                        </p>
                        <div class="form-outline">
                          <input type="number" id="typeNumber" class="form-control" />
                          <label class="form-label" for="typeNumber">$0</label>
                        </div>
                      </div>
                      <div class="col-6">
                        <p class="mb-0">
                          Max
                        </p>
                        <div class="form-outline">
                          <input type="number" id="typeNumber" class="form-control" />
                          <label class="form-label" for="typeNumber">$1,0000</label>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary w-100 border text-black">Apply</button>
                    <button type="button" class="btn btn-secondary mt-2 w-100 border text-white">Reset Result</button>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div> -->
     
      </div>
    </div>
  </section>
<section>
   <div class="row bg-light">

       <div class="col-lg-4 firstCol border"></div>
       <div class="col-lg-4 secondCol border"></div>
       <div class="col-lg-4 thirdCol border"></div>
   </div>
</section>
<app-footer></app-footer>