<app-navbar></app-navbar>
<!-- BREADCRUMB -->
<div class="text-center">
    <nav aria-label="breadcrumb">
        <div class="py-5 bg-light">
            <h2 class="mb-4 menu-title animate__animated animate__fadeInDown">Our Menu</h2>
            <div class="text-center animate__animated animate__fadeInDown" style="display: flex; justify-content: center;">
                <!-- Added a new div for centering -->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item breadcrumb-text">Home</li>
                    <li class="breadcrumb-item active" aria-current="page">Our Menu</li>
                </ol>
            </div>
        </div>
    </nav>
</div>
<!-- BREADCRUMB END -->

<section class="py-5">
  <p>content</p>
</section>

<app-footer></app-footer>