<section>
  <div class="row">
    <div class="col-lg-6 d-none d-lg-block"
    style="background-image: url(/assets/images/login-bg.jpg); background-size: cover; background-repeat: no-repeat; height: 100vh;"></div>
  
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class=" ">
            <form [formGroup]="registerForm" (ngSubmit)="register()">
              <div *ngIf="step1" class="row w3-animate-zoom p-3" style="height: 100vh; align-items: center; display: flex;">
                <div>
                  
                  <div class="row mb-3" >
      <h5 class=" loginHeadings">Register a new account</h5>
        <div class="col-lg-6">
          <div class="">
            <label class="form-label regLabel">First Name</label>
            <input type="text" placeholder="Enter your First Name" formControlName="firstName" class="regForm shadow-sm p-3" >
          </div>
        </div>
        <div class="col-lg-6">

          <div class="">
            <label class="form-label regLabel">Last Name</label>
            <input type="text" placeholder="Enter your Last Name" formControlName="lastName" class="regForm shadow-sm p-3" >
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-6">
          <div class="">
            <label  class="form-label regLabel">Email Address</label>
            <input type="email" placeholder="Enter your Email" formControlName="email" class="regForm shadow-sm p-3" >
          </div>
        </div>
        <div class="col-lg-6">

          <div class="">
            <label class="form-label regLabel">Phone Number</label>
            <input type="text" placeholder="Enter your Phone Number" formControlName="phoneNo" class="regForm shadow-sm p-3" >
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-12">
          <div class="">
            <label  class="form-label regLabel">Address</label>
            <input type="text" placeholder="Enter your Address" formControlName="address" class="regForm shadow-sm p-3" >
          </div>
        </div>
      
      </div>
      
      <div class="row mb-3">
        <div class="col-lg-6">
          <div class="">
            <label class="form-label regLabel">Country</label>
            <select
              formControlName="country"
              class="regForm shadow-sm p-1"
      
            >
              <option >Nigeria</option>
              <!-- <option *ngFor="let country of countries" [value]="country.name.common">
                {{ country.name.common }}
              </option> -->
            </select>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="">
            <label class="form-label regLabel">State</label>
            <select
              formControlName="state"
              class="regForm shadow-sm p-1"
            >
            <option value="">Select</option>
              <option>Lagos</option>
      
            </select>
          </div>
        </div>
      </div>
      <div class="row px-3">
        <button style="height: 50px; width: 100%;" class="btn btn-primary" (click)="stepTwo()" type="button">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></button>

      </div>
  </div>
</div>
<div *ngIf="step2" class="row w3-animate-zoom p-3" style="height: 80vh; align-items: center; display: flex;">
  <div>

    <div class="row mb-3">
      <div class="col-lg-6">
        <div class="">
          <label  class="form-label regLabel">Date of Birth</label>
          <input type="date"  formControlName="dateOfBirth" class="regForm shadow-sm p-3" >
        </div>
      </div>
      <div class="col-lg-6">
    
        <div class="">
          <label class="form-label regLabel">Gender</label>
          <select class="regForm shadow-sm p-1" formControlName="gender">
            <option value="">Select Gender</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col-lg-6"> <div class="mb-1">
        <label  class="form-label regLabel ">Password</label>
        <div class="password-wrapper">
          <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Enter your password" formControlName="password" class="regForm shadow-sm p-3" >
          <span class="password-toggle" (click)="togglePasswordVisibility()">
            <i style="color: #E87E04; font-size: 25px;" class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
          </span>
        </div>
      </div></div>
      <div class="col-lg-6">
        <div class="mb-1">
          <label  class="form-label regLabel">Confirm Password</label>
          <div class="password-wrapper">
            <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Confirm Password" formControlName="confirmPassword" class="regForm shadow-sm p-3">
            <span class="password-toggle" (click)="togglePasswordVisibility()">
              <i style="color: #E87E04; font-size: 25px;" class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
  
      <div class=" d-flex justify-content-between px-3">
  
          <button style="height: 40px;" class="btn login-button" (click)="stepOne()" type="button">  <i class="fa fa-arrow-left" aria-hidden="true"></i>  Previous</button>
          <button type="submit" class="btn btn-primary " [disabled]="isLoading || registerForm.invalid" style="height: 40px;">
            <ng-container *ngIf="!isLoading; else loadingTemplate">
              Register
            </ng-container>
            <ng-template #loadingTemplate>
              <i class="fa fa-circle-o-notch fa-spin"></i> Registering... 
            </ng-template>
          </button>
      </div>
    </div>
  </div>

</div>

            </form>
            <p class="text-center  plainText">
                Have An Account? <a routerLink="/login">Login</a>
              </p>
        </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
</div>
</section>






  
  
  
  