@import '~font-awesome/css/font-awesome.css';




 .regForm{
height: 45px;
width: 100%;
box-shadow: none;
border-radius: 8px;
border: 0.25px solid #FEA116;

outline: none;

 }
 .login-button{
padding: 6px 10px;
box-shadow: none;
background-color: #212529;
color: #fff;
font-size: 13px;


 }
 .regForm:hover{
height: 45px;
width: 100%;
box-shadow: none;

outline: none;

border: 1px solid #FEA116;
 }
.regLabel{
  color: #999;
  font-size: 15px;
}
.plainText{
  color: #999;

}
a{
  color: #FEA116;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}
.loginHeadings{
  color: #212529;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
  font-family:  'Heebo', sans-serif;
}

.password-wrapper {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
