<section style="height: 100vh;">
  <div class="row">
    <div class="col-lg-6 d-none d-lg-block"
      style="background-image: url(/assets/images/login-bg.jpg); background-size: cover; background-repeat: no-repeat; height: 100vh;">
    </div>


    <div class="col-lg-6"  >
    <div class="row" style="height: 100vh; align-items: center; display: flex;">
      <div class="col-lg-2"></div>
      <div class="col-lg-8" >
        <div  class="">

          <h5 class=" loginHeadings mb-4">Login in to your account</h5>
          <div class="row  container w3-animate-zoom">
            <form [formGroup]="loginForm" (ngSubmit)="logIn()">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label logLabel">Email Address</label>
                <input type="email" placeholder="Enter your Email" formControlName="email" class="loginForm shadow-sm p-3"
                  id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
    
              <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label logLabel">Password</label>
                <div class="password-wrapper">
                  <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Enter your password"
                    formControlName="password" class="loginForm shadow-sm p-3" id="exampleInputPassword1">
                  <span class="password-toggle" (click)="togglePasswordVisibility()">
                    <i style="color: #E87E04; font-size: 25px;" class="fa"
                      [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <div class="d-flex justify-content-between">
    
                <p class="mb-2">
                  <input type="checkbox" class="me-2 form-check-input" id="">
                  <span class="remember">Remember Me</span>
                </p>
                <p class="mb-2" style="text-align: right;">
                  <a href="#">Forget Password</a>
                </p>
              </div>
              <button style="height: 50px;" type="submit" class="btn btn-primary w-100"
                [disabled]="isLoading || loginForm.invalid">
                <ng-container *ngIf="!isLoading; else loadingTemplate">
                  Login
                </ng-container>
                <ng-template #loadingTemplate>
                  <i class="fa fa-circle-o-notch fa-spin"></i> Logging in...
                </ng-template>
              </button>
            </form>
          </div>
    
    
          <p class="text-center mt-3 plainText">
            Don't Have An Account? <a routerLink="/register">Register</a>
          </p>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
     
    </div>
  </div>
</section>