<app-navbar></app-navbar>
<!-- BREADCRUMB -->
<app-basic-pages-breadcrumb currentPageLink="About Us"></app-basic-pages-breadcrumb>

<!-- BREADCRUMB END -->

<section class="py-5 container w3-animate-zoom">
  <div class="row py-3">
    <div class="col-lg-6">
      <div class="aboutLeft mt-3 animate__animated animate__fadeInLeft">
        <h6>Welcome!</h6>
        <h5 class="">Best burger ideas <br> & traditions from the whole world</h5>

        <p class="text-muted mb-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row aboutRight">

<div class="container">
  <div class="row">
    <!-- <div class="col align-self-start">
      <img src="/assets/images/18-1-450x450 (1).png" class="img-thumbnail  " alt="" >
    </div> -->
    
    <div class="row align-self-center w-50 mx-auto">
      <!-- <img src="/assets/images/18-1-450x450 (1).png" class="img-thumbnail  " style="height: 50%!important; width: 50%!important;" alt="" > -->
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-4 align-self-start animate__animated animate__fadeInDown">
      <img src="/assets/images/18-1-450x450 (1).png" class="img-thumbnail mb-2 " alt="" >
      <img src="/assets/images/18-1-450x450 (1).png" class="img-thumbnail  " alt="" >
    </div>
    
    <div class="col align-self-end animate__animated animate__fadeInUp">
      <img src="/assets/images/18-1-450x450 (1).png " class="img-thumbnail  " alt="" >
    </div>
  </div>
</div>

      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <section class="py-5 container w3-animate-zoom ">
    <div class="row py-3">
      <div class="col-lg-6">
        <div class="aboutLeft1 mt-3 animate__animated animate__fadeInLeft">
          <h6>Our Quality</h6>
          <h5 class="">Chicken</h5>
  
          <p class="text-muted ">
            Quality is our #1 ingredient. That’s why our Chicken Wings, Chicken Bites and Grilled Chicken Topping are made from chickens raised  without antibiotics and fed an all vegetable-grain diet, with no animal by-products. <br> Plus, our Bites are made with 100% chicken breast meat.
          </p>
         
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row aboutRight1">
  
  
  <div class="container">
    <div class="row">
      <div class="col align-self-start animate__animated animate__fadeInDown">
        <img src="/assets/images/18-1-450x450 (1).png" class="img-thumbnail  " alt="" >
      </div>
      
      <div class="col align-self-end animate__animated animate__fadeInUp">
        <img src="/assets/images/18-1-450x450 (1).png " class="img-thumbnail  " alt="" >
      </div>
    </div>
  </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="guarantee py-5 bg-light text-center">
  <div class=" py-5 p-3">
    <p class="gua">We Guarantee</p>
    <h5>
      30 Minutes Delivery!
    </h5>
    <p class="mb-3">
      If you’re having a meeting, working late at night and need an extra push. <br> Let us know and we will be there
    </p>
    <button class="btn btn-primary text-black">MAKE AN ORDER</button>
  </div>
</section>

<app-footer></app-footer>