/* FOOTER CSS */
.logo{
  color: #FFC222;
  font-weight: 700;
}

.footer-icons .fa {
  background-color: white;
  color: black;
  font-size: 20px;
  /* margin: 5px; */
  text-align: center;
  align-items: center;
  padding: 6px 7px;
  border-radius: 50%;
  /* height: 50px;
  width: 50px; */
}

.footer-heading{
  font-weight: 800;
  color: #ffcc22;
  text-transform: Uppercase;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif !important;
  
}
.foot p{
  font-family: 'Nunito Sans', sans-serif !important;
font-size: 15px;
}
.footer-links a{
  color: white;
  font-family: 'Nunito Sans', sans-serif !important;
font-size: 15px;
}
.footer-links a:hover{
  color: #ffcc22;
  font-family: 'Nunito Sans', sans-serif !important;
font-size: 16px;
}

@media only screen and (max-width: 1200px) {
  .footerVisa {
      display: none;
  }
}

@media only screen and (max-width: 600px) {
  .footerVisa {
      display: none;
  }
}

@media only screen and (max-width: 425px) {
  .footerVisa {
      display: none;
  }
}

/* END OF FOOTER CSS */

