<!-- BREADCRUMB -->
<div class="text-center breadcrumb-bg">
    <nav aria-label="breadcrumb">
        <div class="py-5">
            <h2 class="mb-4 menu-title animate__animated animate__fadeInDown">{{currentPageLink}}</h2>
            <div class="text-center animate__animated animate__fadeInDown" style="display: flex; justify-content: center;">
                <!-- Added a new div for centering -->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item breadcrumb-text"><a href="/">{{HomeLink}} {{searchResult}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{currentPageLink}}</li>
                </ol>
            </div>
        </div>
    </nav>
</div>
<!-- BREADCRUMB END -->