<app-navbar></app-navbar>
<app-spinner *ngIf="loading"></app-spinner>
<!-- BreadCrumb -->
<div class="breadcrumb-bg">

    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb py-4">
                <li class="breadcrumb-item"><a routerLink="#">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="#">{{food?.category}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{food?.name}}</li>
            </ol>
        </nav>
    </div>
</div>
<!-- <app-not-found class=""
[visible]="!food"
notFoundMessage ="Oops! Page doesn't exist"
resetLink="Go To HomePage"> -->

<!-- FOOD DETAILS -->

<app-not-found [visible]="!food" notFoundMessage="Unable to display product."
  resetLink="Back To Menu"></app-not-found>
<section *ngIf="food" class="container py-5">
   
      
    <div class="row">
        <div class="col-lg-6">
            <div class=" ">
                <!-- <div class="row ">
                    <div class="col-1"></div>
                    <div class="col-3 align-self-start  animate__animated animate__fadeInDown">
                      <img [src]="food?.image1"  [alt]="food?.name" class="img-thumbnail mb-2 " style="height: 150px; width: 100%; object-fit: cover;" alt="" >
                      <img [src]="food?.image2"  [alt]="food?.name" class="img-thumbnail  " style="height: 150px; width: 100%; object-fit: cover;" alt="" >
                      <img [src]="food?.image3"  [alt]="food?.name" class="img-thumbnail  " style="height: 150px; width: 100%; object-fit: cover;" alt="" >
                    </div>
                    
                    <div class="col align-self-center animate__animated animate__fadeInUp">
                      <img  [src]="food?.thumbnail"  [alt]="food?.name" class="img-thumbnail  " alt="" >
                    </div>
                  </div> -->
                </div>
                <img  [src]="food?.thumbnail" class="img-thumbnail img-fluid foodImage" [alt]="food?.name" style="width: 100%;cursor: pointer; height: 500px; object-fit: contain;">
        </div>
        <div class="col-lg-6">
            <div class="container">
                <p class="foodName mt-2">{{food?.name}}</p>
                <div class="mr-2 d-flex">
                    <p class="text-warning">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                    <p *ngIf="reviews?.length" class="text-muted">( {{reviews?.length}} Customer Reviews )</p>
                  </div>

                  <p class="text-muted">{{food?.description}}</p>
            <p class="foodAmount">{{food?.price | currency: '₦' :'symbol':'1.0-0'}}</p>
            
            <hr>
            <div class="quantity-selector">
               
                <button class="add-to-cart-button-sm w-100 d-block d-sm-none" *ngIf="ifAddedToCart(food)" (click)="cartRoute()">View Cart </button>
                <button class="add-to-cart-button-sm w-100 d-block d-sm-none" *ngIf="!ifAddedToCart(food)" (click)="addToCart(food)">Add to Cart </button>


                <button class="add-to-cart-button d-none d-sm-block text-black" *ngIf="ifAddedToCart(food)" (click)="cartRoute()">View Cart </button>
                <button class="add-to-cart-button d-none d-sm-block" *ngIf="!ifAddedToCart(food)" (click)="addToCart(food)">Add to Cart</button>
                
            </div>
            
            
     
            <hr>

            <p>Category:  <span><a class="categoryLink" routerLink="/">{{food?.category}}</a></span></p>

            <hr>
            <ul>
                <li class="text-muted">Free global shipping on all orders</li>
                <li class="text-muted">30 days easy returns if you change your mind</li>
                <li class="text-muted">Order before noon for same day dispatch</li>
            </ul>
            <hr>
            <div class="row px-2">
                <div class="col-lg-4">
                    <p class="fw-bold">Guaranteed Safe Checkout</p>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <img style="height: 25px;
                max-width: 100%;
                display: block;" src="/assets/images/trust-symbols.png" alt="">
                </div>
            </div>
            <!-- <div class="d-flex justify-content-between">
                <p class="fw-bold">Guaranteed Safe Checkout</p> <img style="height: 25px;
                max-width: 100%;
                display: block;" src="/assets/images/trust-symbols.png" alt="">
            </div> -->
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center mb-4">
           
        </div>
        <div class="col-12">
            <ul class="tabNavigation">
                <li (click)="currentTab = 'Description'" [class.active]="currentTab === 'Description'">Description</li>
                <li (click)="currentTab = 'Reviews'" [class.active]="currentTab === 'Reviews'">Reviews</li>
            </ul>
        </div>
    
        <div class="col-12 mb-3" [ngSwitch]="currentTab">
            <div  *ngSwitchCase="'Description'">
                <div class=" px-5">
 <!-- Content for Role tab -->
 <p class="text-muted">{{food?.description}}</p>
<!-- Add your content here -->
                </div>
               
            </div>
            <div *ngSwitchCase="'Reviews'">
                <!-- Content for Menu Control tab -->

                <section class="container">
                    <div class="row">
                        <!-- Left Side (Reviews Added) -->
                        <div class="col-md-6">
                            <!-- Individual Reviews -->
                            <div class="review px-3" *ngFor="let review of reviews">
                                <div class="user-details">
                                    <div class="user-avatar me-2">
                                        <!-- <img src="/assets/images/18-1-450x450 (1).png" alt="User Profile"> -->
                                    </div>
                                    <div class="user-info">
                                        <p class="text-warning">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                                        <div>
                                            <div style="display: flex;">
    
                                                <p class="user-name me-2 fw-bold">{{review.commentedByName}}</p>
                                                <p class="date-posted">
                                                    <i class="fa fa-clock"></i> {{review.postedDate | dateAgo}}
                                                </p>
                                            </div>
                                            <p class="text-muted">
                                                {{review.comment}}
                                            </p>
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="review-text">
                                   
                                    
                                </div>
                            </div>
                            
                            <!-- Add more reviews as needed -->
                        </div>
                    
                        <!-- Right Side (Add Review Form) -->
                        <div class="col-md-6">
                            <div class="container py-4">
                                <p class="text-muted">Your email address will not be published.</p>
                                <form [formGroup]="reviewForm" (ngSubmit)="AddReview()">
                                    <p class="text-warning">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
    <div class="row ">
        <div class="col-lg-12">
            <div class="form-group mb-2">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="commentedByName" id="name" name="name">
            </div>
           
        </div>
    </div>
                                    <div class="form-group mb-2">
                                        <label for="review">Review</label>
                                        <textarea class="form-control reviewTextArea" formControlName="comment" id="review" name="review" rows="3"></textarea>
                                    </div>
                                   
                                    <button type="submit" class="btn btn-primary" [disabled]="onSubmit || reviewForm.invalid">
                                        <ng-container *ngIf="!onSubmit; else loadingTemplate">
                                            Submit
                                        </ng-container>
                                        <ng-template #loadingTemplate>
                                            <i class="fa fa-circle-o-notch fa-spin"></i> Submitting...
                                        </ng-template>
                                    </button>
                                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                                </form>
                            </div>
                            
                        </div>
                    </div>
                    
                </section>
                <!-- Add your content here -->
            </div>
    
            <div *ngSwitchDefault>
                <!-- Default content when no tab is selected -->
                <p>Select a tab to view its content.</p>
            </div>
        </div>
    </div>
    
</section>
<app-footer></app-footer>
