<header  class="bg-surface-primary border-bottom py-1 shadow-sm d-none d-lg-block">
    <div class="container-fluid">
        <div class="mb-npx ">
            <div class="row align-items-center ">
                <div class="col-sm-6 col-12"> <!-- Title -->
                    <h5 class=" mb-0 px-5 breadCrumb" style="font-size: 18px; font-family:  'Heebo', sans-serif;">{{breadcrumb}}</h5>
                </div> <!-- Actions -->
                <div class="col-sm-6 col-12 text-sm-end">

                    <div class="navbar-user px-4" style="display: flex; justify-content: end;">
                        <!-- Dropdown -->
                        <div class="dropdown">

                            <div class="d-flex mt-2 align-items-center">

                                <a href="#">
                                    <div class="avatar-parent-child me-2">
                                        <p class="avatar bg-primary avatar-rounded-circle text-dark shadow-sm"
                                            style="height: 40px; width: 40px; border-radius: 50%; font-family:  'Heebo', sans-serif;">{{firstLast}}</p>
                                    </div>
                                </a>

                                <div>
                                    <h6 class="mb-0 headerUserName" style="font-size: 15px; font-family:  'Heebo', sans-serif;">{{loggedInUsername}} </h6> 
                                    <p class="text-center mb-2 text-primary"
                                        style="font-size: 12px; font-weight: 400; text-align: left;">
                                        {{role}}</p>
                                </div>

                                <!-- Menu -->
                            </div>

                        </div>
                    </div>
                </div>
            </div> <!-- Nav -->


        </div>
    </div>
</header> 